<%- include( "partials/adminheader" ) %>
<!-- facultyname,facultyfield,schoolname,universityname -->
<div class="container">
    <div class="table">
        <table id="customers">
            <tr>
                <th>
                    Programme Code
                </th>
                <th>
                    Programme Title
                </th>
                <th>
                    Programme Level
                </th>
                <th>
                    Programme Duration
                </th>
                <th>
                    School Name
                </th>
                <th>
                    Action
                </th>
            </tr>
            <% programmes.forEach(function(element){ %>
            <tr>
                <td><%= element.programmecode %></td>
                <td><%= element.programmetitle %></td>
                <td><%= element.programmelevel %></td>
                <td><%= element.duration %></td>
                <td><%= element.schoolname %></td>
                <td class="td-buttons"><a href="/login/admin/1/programmes/<%= element.programmecode %>"
                        class="btn btn-success btn-edit"><i class="fas fa-edit"></i></a>
                    <form action="/login/admin/1/programmes/<%= element.programmecode%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <div style="text-align: center;padding-bottom: 10px;">
        <a href="/login/admin/1/programmes/new" class="btn btn-primary">New</a>
    </div>
</div>

<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #eb4034;
        color: white;
    }

    body {
        background-color: #ff5e5e;
    }

    .container {
        background-color: white;
        margin-top: 100px;
        margin-bottom: 30px;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    .table {
        padding-top: 30px;
        padding-bottom: 15px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .buttons {
        text-align: center;
    }
</style>